@using System.Linq
@{
    ViewData["Title"] = "Профиль";
}
@model ProfileModel

<div class="col-md-3">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Профиль
      </div>
      <div class="card-body">
        <div>
          <img style="display: block; margin: 0 auto;" class="img-avatar avatar-lg" src="@Model.User.ImageBase64" />
        </div>
        <div style="text-align: center; font-weight: bold; margin-top: 10px;">
          @Model.User.FirstName @Model.User.SecondName
        </div>
        <div style="text-align: center; font-style: italic;">
          @Model.Specialization.Sphere.Name > @Model.Specialization.Specialization.Name
        </div>
        <div style="text-align: center;">
          Дата рождения: @Model.User.BirthDate.ToString("dd/M/yyyy")
        </div>
        <hr />
        <div>
          <div style="font-weight: bold;">Активность</div>
          <div>Регистрация: @Model.User.RegisterDate.ToString("dd/M/yyyy")</div>
          <div>Последний визит: @Model.User.LastVisit.ToString("dd/M/yyyy")</div>
        </div>
        <hr />
        <div>
          <div style="font-weight: bold;">Контакты</div>
          <div>
            @foreach (var contact in Model.Contacts)
                {<div>@contact.Contact.Name: @contact.Value</div>}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Обо мне
        </div>
        <div class="card-body">
          @Model.User.Description
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Профессиональные навыки
        </div>
        <div class="card-body">
          @{String.Join(" • ", Model.Profskills.Select(x => x.Name))}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Участие в проектах
        </div>
        <div class="card-body">
          @foreach (var p in Model.Participants)
          {
            <div>
              <div style="font-weight: bold;"><a asp-controller="Project" asp-action="Project" asp-route-id="@p.Project.Id">@p.Project.Name</a> <span class="badge badge-success">@p.Project.Status.ToString()</span></div>
              <div style="margin-top: 10px; font-weight: bold;">Описание</div>
              <div>@p.Project.Description</div>
              <div style="margin-top: 10px; font-weight: bold;">Роль</div>
              <div>@p.Role</div>
              <div style="margin-top: 10px; font-weight: bold;">Обязанности</div>
              <div>@p.Description</div>
            </div>
            <hr />
          }
        </div>
      </div>
    </div>
  </div>
</div>