
@{
    ViewData["Title"] = "Пользователи";
}
@using protfolio.Data
@model ProfileSearchModel

<div class="col-md-6">
  <div class="card">
    <div class="card-body">
      <table class="table table-responsive-sm table-hover table-outline mb-0">
        <thead class="thead-light">
          <tr>
            <th class="text-center">
              <i class="icon-people"></i>
            </th>
            <th>Пользователь
            </th>
          </tr>
        </thead>
        <tbody>
          @foreach (var (user, userSpecializations, profskills) in Model.Users)
          {
            <tr>
              <td class="text-center">
                <div class="avatar">
                  <img class="img-avatar" src="@user.Image">
                  <!--span class="avatar-status badge-success"></span-->
                </div>
              </td>
              <td>
                <div style="font-weight: bold;"><a asp-controller="Profile" asp-action="Profile" asp-route-id="@user.Id">@user.FirstName @user.SecondName</a></div>
                <div class="small text-muted">
                  <div>
                      @if (userSpecializations.Sphere != null)
                      {
                          <span>@userSpecializations.Sphere.Name</span> 
                      } else
                      {
                          <span>"Нет сферы"</span>;
                      }
                    >
                            @if (userSpecializations.Specialization != null)
                            {
                          <span>@userSpecializations.Specialization.Name</span>
                            }
                            else
                            {
                                <span>"Нет специализации"</span>
                            }</div>
                  <div>@{String.Join(" • ", profskills.Select(x => x.Name));}</div>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="card">
    <div class="card-header">Фильтры</div>
    <fieldset class="card-body">
      <form class="form-horizontal" method="post">
        <fieldset class="form-group">
          <label>Специализация</label>
          <div class="col-md-12">
            <select class="form-control" id="select1" name="SpecializationId">
              <option value="0">Please select
              </option>
              @foreach (var ss in Model.SphereSpecializations)
              {
                <option value="@ss.Specialization.Id">@ss.Sphere.Name > @ss.Specialization.Name
                </option>
              }
            </select>
          </div>
        </fieldset>
        <fieldset class="form-group">
          <label>Профессиональные навыки</label>
          <div class="col-md-12 ">
            <input class="form-control" type="text" name="ProfSkills" />
          </div>
        </fieldset>
        <div class="form-group row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary"> Найти
            </button>
          </div>
        </div>
      </form>
    </fieldset>
  </div>
</div>

