
@{
    ViewData["Title"] = "Проекты";
}
@model ProjectSearchModel

<div class="col-md-6">
  @foreach (var (project, participants, need) in Model.Projects) 
  {
  <div class="card">
    <div class="card-header" style="font-weight: bold;">
      <a asp-controller="Project" asp-action="Project" asp-route-id="@project.Id">@project.Name</a> <span class="badge badge-success float-right">@project.Status.ToString()</span>
    </div>
    <div class="card-body">
      <div style="font-weight: bold;">
        <h4>Описание</h4>
      </div>
      <div>@project.Description</div>
      <div style="font-weight: bold; margin-top: 8px;">
        <h4>Участники</h4>
      </div>
      <div>
        @foreach (var p in participants)
        {
          <div>
            <div style="font-weight: bold;"><a asp-controller="Profile" asp-action="Profile" asp-route-id="@p.User.Id">@p.User.FirstName @p.User.SecondName</a></div>
            <div style="font-weight: bold; margin-top: 8px;">Роль</div>
            <div>@p.Role</div>
            <div style="font-weight: bold; margin-top: 8px;">Обязанности</div>
            <div>@p.Description</div>
          </div>
          <hr/>
        }
      </div>
      <div style="font-weight: bold; margin-top: 8px;">
        <h4>Нужны в команду</h4>
      </div>
      <div>
        @foreach (var n in need)
        {
          <div>
            <div style="font-weight: bold;">
              @n.Name
              <div style="float: right;"><button type="button" class="btn btn-primary"> Присоединиться</button></div>
            </div>
            <div style="font-style: italic; margin-top: 8px;">@n.Sphere.Name > @n.Specialization.Name</div>
            <div style="font-weight: bold; margin-top: 8px;">Обязанности</div>
            <div>@n.Description</div>
          </div>
          <hr/>
        }
      </div>
    </div>
  </div>
  }
</div>
<div class="col-md-3">
  <div class="card">
    <div class="card-header">Фильтры</div>
    <fieldset class="card-body">
      <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        <fieldset class="form-group">
          <label>Название</label>
          <div class="col-md-12 ">
            <input class="form-control" type="text" name="name" />
          </div>
        </fieldset>
        <fieldset class="form-group">
          <label>Сфера</label>
          <div class="col-md-12">
            <select class="form-control" id="select1" name="Сфера">
              <option value="0">Please select
              </option>
              <option value="1">IT
              </option>
              <option value="2">Дизайн
              </option>
              <option value="3">Маркетинг
              </option>
            </select>
          </div>
        </fieldset>
        <fieldset class="form-group">
          <label>В поисках участников</label>
          <div class="col-md-12">
            <select class="form-control" id="jkskdf" name="Сфера">
              <option value="0">Please select
              </option>
              <option value="1">IT > Backend
              </option>
              <option value="2">IT > Frontend
              </option>
              <option value="3">IT > Менеджмент
              </option>
              <option value="4">Дизайн > Иллюстрация
              </option>
              <option value="5">Дизайн > Фирменный стиль
              </option>
              <option value="6">Маркетинг > SMM
              </option>
            </select>
          </div>
        </fieldset>
        <fieldset class="form-group">
          <label>Теги</label>
          <div class="col-md-12 ">
            <input class="form-control" type="text" name="tags" />
          </div>
        </fieldset>
        <div class="form-group row">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary"> Найти
            </button>
          </div>
        </div>
      </form>
    </fieldset>
  </div>
</div>
