
@{
  ViewData["Title"] = "Страница проекта";
}
@model ProjectEditModel

<div class="col-md-6">
  <script>
    function joinProject() {
        $('.join-button').remove();
        $('.plashka').css('display', 'block');
        $('#user_1').css('display', 'block');
        $('#need_1').remove();
    }
  </script>
  <div class="card">
    <div class="card-header">                    <strong>@Model.Project.Name</strong>
      <span style="display: none;" class="badge badge-pill badge-secondary float-right plashka">Вы участник
      </span>
    </div>
    <div class="card-body">
      <p><strong>Описание:</strong>
      </p>
      <p>@Model.Project.Description
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header"><strong>Команда</strong>
    </div>
    <div class="card-body">
      <div>
        <div>
          <h4>Участники</h4>
        </div>
        @foreach (var member in Model.Participants)
        {
          @if (member.User.Id == 1)
           {
             <div id="user_@member.User.Id" style="display: none">
               <div style="font-weight: bold;"><a asp-controller="Profile" asp-action="Profile" asp-route-id="@member.User.Id">@member.User.FirstName @member.User.SecondName</a></div>
               <div style="font-weight: bold; margin-top: 8px;">Роль</div>
               <div>@member.Role</div>
               <div style="font-weight: bold; margin-top: 8px;">Обязанности</div>
               <div>@member.Description</div>
             </div>
           }
           else
           {
             <div id="user_@member.User.Id">
               <div style="font-weight: bold;"><a asp-controller="Profile" asp-action="Profile" asp-route-id="@member.User.Id">@member.User.FirstName @member.User.SecondName</a></div>
               <div style="font-weight: bold; margin-top: 8px;">Роль</div>
               <div>@member.Role</div>
               <div style="font-weight: bold; margin-top: 8px;">Обязанности</div>
               <div>@member.Description</div>
             </div>
           }
          <hr/>
        }
      </div>
      <div>
        <div>
          <h4>Нужны в команду</h4>
        </div>
        @{int i = 0;}
        @foreach (var need in Model.NeedMembers)
        {
          <div id="need_@i">
            <div style="font-weight: bold;">
              @need.Name
              <div style="float: right;"><button onclick="joinProject()" type="button" class="btn btn-primary join-button"> Присоединиться</button></div>
            </div>
            <div style="font-style: italic; margin-top: 8px;">@need.Sphere.Name > @need.Specialization.Name</div>
            <div style="font-weight: bold; margin-top: 8px;">Обязанности</div>
            <div>@need.Description</div>
          </div>
          <hr/>
          i++;
        }
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <a href="#" target="_blank">Сайт проекта</a>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="card">
    <div class="card-header"><strong>Теги</strong>
    </div>
    <div class="card-body">
      <span class="badge badge-pill badge-info">Data Science</span>
      <span class="badge badge-pill badge-warning">Medical</span>
      <span class="badge badge-pill badge-success">Highload</span>
    </div>
  </div>
</div>